/* roboto-condensed-regular - latin */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

body {
  margin: 30px;
  font-family: 'Roboto', sans-serif;
}

a {
	color: #fda428;
	outline: 0;
	text-decoration: none;
}

a:visited {
	color: #fda428;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

h6 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #424242;
}

.description {
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 15px;
}